@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    li {
      @apply p-4
      tracking-widest hover:text-secondary
    }
  
    button {
      @apply text-white border bg-secondary border-secondary
      hover:text-secondary hover:bg-tertiary rounded-md
    }
  }

  @media screen(lg) {
    .bg-tabs {
      width: 2500px;
      height: 750px;
      right: 60%;
      z-index: -1;
      @apply absolute rounded-r-full top-60 bg-tertiary;
    }
  }

  .panel {
    display: none;
  }
  .panel.active {
    display: flex;
  }

  .marker-severity-1 {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.marker-severity-2 {
    width: 10px;
    height: 10px;
    background-color: #ff6666; /* Brighter red */
    border-radius: 50%;
}

.default-marker {
    width: 10px;
    height: 10px;
    background-color: blue; /* Default color for other severities */
    border-radius: 50%;
}